<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.palemoky.zoom</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>20226435-BEA5-4C3F-9E30-3C9C3BCE3BEB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E0E2945C-566B-4EB8-9CE8-FE2DF79F13CE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>57FF5A60-4364-4974-8859-40412B614FE6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>20226435-BEA5-4C3F-9E30-3C9C3BCE3BEB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>76C5C935-23C0-44C0-A103-1A5ED464987A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>62C2CC8E-9177-41FF-82AB-F7EB502158B8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E0E2945C-566B-4EB8-9CE8-FE2DF79F13CE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>76C5C935-23C0-44C0-A103-1A5ED464987A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Palemoky</string>
	<key>description</key>
	<string>Open a Zoom meeting link without the browser opening</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Zoom</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>zm</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>php src/conference.php "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Launch Zoom</string>
				<key>title</key>
				<string>Zoom</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>57FF5A60-4364-4974-8859-40412B614FE6</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>100</integer>
				<key>script</key>
				<string>&lt;?php

$meetingId = ltrim(strstr($argv[1], '='), '=');

if (!empty($meetingId)) {
    echo 'https://zoom.us/j/' . $meetingId;
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E0E2945C-566B-4EB8-9CE8-FE2DF79F13CE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>zoommtg://zoom.us/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>20226435-BEA5-4C3F-9E30-3C9C3BCE3BEB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Launching! Your Zoom link has been copied to clipboard! Paste away!</string>
				<key>title</key>
				<string>Zoom link on clipboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>62C2CC8E-9177-41FF-82AB-F7EB502158B8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>76C5C935-23C0-44C0-A103-1A5ED464987A</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Open a Zoom meeting link without the browser opening.</string>
	<key>uidata</key>
	<dict>
		<key>20226435-BEA5-4C3F-9E30-3C9C3BCE3BEB</key>
		<dict>
			<key>xpos</key>
			<integer>315</integer>
			<key>ypos</key>
			<integer>165</integer>
		</dict>
		<key>57FF5A60-4364-4974-8859-40412B614FE6</key>
		<dict>
			<key>xpos</key>
			<integer>120</integer>
			<key>ypos</key>
			<integer>165</integer>
		</dict>
		<key>62C2CC8E-9177-41FF-82AB-F7EB502158B8</key>
		<dict>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>420</integer>
		</dict>
		<key>76C5C935-23C0-44C0-A103-1A5ED464987A</key>
		<dict>
			<key>xpos</key>
			<integer>220</integer>
			<key>ypos</key>
			<integer>420</integer>
		</dict>
		<key>E0E2945C-566B-4EB8-9CE8-FE2DF79F13CE</key>
		<dict>
			<key>xpos</key>
			<integer>525</integer>
			<key>ypos</key>
			<integer>165</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.1</string>
	<key>webaddress</key>
	<string>https://blog.palemoky.com</string>
</dict>
</plist>
